.cart {
  position: relative;
  margin-left: var(--main-offset);

  &__btn {
    position: relative;
    outline: none;
    width: 20px;
    height: 20px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-white);
      object-fit: cover;
      transition: fill 0.3s ease-in-out;
      pointer-events: none;
    }

    &:focus {
      svg {
        fill: var(--color-accent);
      }
    }

    @include desktop {
      &:hover {
        svg {
          fill: var(--color-accent);
        }
      }
    }

    &:active {
      svg {
        fill: var(--color-accent-hover);
      }
    }

    &--inactive {
      pointer-events: none;
    }
  }

  &__count {
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 16px;
    min-width: 16px;
    font: var(--small-book);
    color: var(--color-white);
    background-color: var(--color-accent);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &--visible {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.mini-cart {
  position: absolute;
  right: 0;
  top: calc(100% + 22px);
  width: 480px;
  box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &__top {
    max-height: 323px;

    .simplebar-track.simplebar-vertical {
      right: 5px;
      top: 20px;
      bottom: 20px;
      border-radius: 5px;
      width: 4px;
      background: rgba(77, 77, 77, 0.1);
    }

    .simplebar-scrollbar::before {
      left: 0;
      right: auto;
      border-radius: 5px;
      width: 4px;
      background: rgba(77, 77, 77, 0.2);
      opacity: 1;
    }
  }

  &__itog {
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--second-offset);
    box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
    background-color: var(--color-white);

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__txt {
    display: block;
    margin-bottom: var(--small-offset);
  }

  &__summ {
    font: var(--prehigh-regular);
    font-weight: 700;
    color: #4d4d4d;
  }

  &__btn {
    padding-top: 14px;
    padding-bottom: 14px;

    @include mobile {
      width: 100%;
    }
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  @include mobile {
    width: calc(100vw - 30px);
  }
}
