.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-eastbay);

  &__container {
    --paddings: 15px;

    position: relative;
    align-items: center;
    padding: var(--second-offset) var(--paddings);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - (var(--paddings) * 2));
      height: 1px;
      background-color: var(--color-border);
      transform: translateX(-50%);
    }
  }

  &__left {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
  }
}
