.product {
  overflow: hidden;
  border-radius: 4px;

  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__image {
    position: relative;
    margin-bottom: var(--small-offset);
    width: 100%;
    max-height: 293px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: var(--small-offset);
    font: var(--middle-book);
    color: var(--color-main);
  }

  &__price {
    font: var(--prehigh-regular);
    color: var(--color-main);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-main);
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    &:first-child {
      margin-right: var(--main-offset);
    }

    &:hover {
      background-color: var(--color-main-hover);
    }
  }

  &:hover {
    .product__btns {
      opacity: 1;
      visibility: visible;
    }
  }
}
