@import "../mixins";

.product {
  overflow: hidden;
  border-radius: 4px;

  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    // visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    @include mobile {
      opacity: 1;
    }
  }

  &__image {
    position: relative;
    margin-bottom: var(--small-offset);
    width: 100%;
    max-height: 293px;

    img {
      display: block;
      width: 100%;
      height: 293px;
      object-fit: cover;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: var(--small-offset);
    font: var(--middle-book);
    color: var(--color-main);
  }

  &__price {
    font: var(--prehigh-regular);
    color: var(--color-main);
  }

  &__btns {
    &--active {
      opacity: 1;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-main);
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      fill: var(--color-white);
      object-fit: cover;
    }

    &:focus {
      background-color: var(--color-main-hover);
    }

    @include desktop {
      &:hover {
        background-color: var(--color-main-hover);
      }
    }

    &:active {
      background-color: var(--color-accent-hover);
    }

    &:first-child {
      margin-right: var(--main-offset);
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  @include desktop {
    &:hover {
      .product__btns {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.mini-product {
  display: flex;
  align-items: center;
  padding: var(--small-offset) var(--second-offset);

  &__image {
    flex-shrink: 0;
    margin-right: var(--small-offset);
    width: 100px;
    height: 100px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      width: 60px;
      height: 60px;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__text {
    margin-right: auto;
    max-width: 268px;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font: var(--small-book);
    line-height: 20px;
  }

  &__price {
    font: var(--prehigh-regular);
    font-weight: 700;
    color: #4d4d4d;
  }

  &__delete {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    font-size: 0;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }
}

.cart-modal {
  .mini-product {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;

    &__image {
      flex-shrink: 0;
      margin-right: var(--small-offset);
      width: 80px;
      height: 45px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    &__text {
      margin-right: auto;
      max-width: 290px;
    }

    &__title {
      margin: 0;
      margin-bottom: var(--small-offset);
      font: var(--small-book);
      line-height: 20px;
    }

    &__price {
      font: var(--prehigh-regular);
      font-weight: 700;
      color: #4d4d4d;
    }

    &__delete {
      width: auto;
      height: auto;
      font: var(--small-book);
      line-height: 14px;
      color: var(--color-gray);

      svg {
        display: none;
      }
    }

    @include mobile {
      display: block;
    }
  }
}
