<section class="about">
  <img src="img/about-figure.svg" alt="" class="about__figure" aria-hidden="true">
  <div class="container about__container">
    <div class="about__text">
      <h2 class="title about__title">Пара слов о нас</h2>
      <p class="about__descr">
        <q class="about__quote">
          Спорт держит нас в&nbsp;форме. Учит дисциплине. Объединяет нас. Через спорт мы&nbsp;можем менять жизни.
          В&nbsp;том числе с&nbsp;помощью воодушевляющих историй спортсменов. Чтобы помочь тебе подняться
          и&nbsp;двигаться
          вперед.
        </q>
        <cite class="about__author">SneakMax</cite>
      </p>
    </div>
    <div class="about__image">
      <img src="img/about.jpg" alt="" aria-hidden="true">
    </div>
  </div>
</section>
