<section class="catalog">
  <div class="container catalog__container">
    <h2 class="title catalog__title">Каталог</h2>
    <div class="catalog__content grid">
      <div class="catalog__left">
        <h3 class="catalog__subtitle">Подбор по&nbsp;параметрам</h3>
        <div class="catalog__prop">
          <strong class="catalog__caption">Цена, руб</strong>
          <div class="catalog-price catalog__prop-inner">
            <input type="text" class="catalog-price__input">
            <input type="text" class="catalog-price__input">
            <div class="catalog-price__element"></div>
          </div>
        </div>
        <div class="catalog__prop">
          <strong class="catalog__caption">Пол</strong>
          <div class="catalog__prop-inner catalog__prop-checkboxes">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">Мужской</span>
            </label>
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content">Женский</span>
            </label>
          </div>
        </div>
        <div class="catalog__prop">
          <strong class="catalog__caption">Размер</strong>
          <div class="catalog__prop-inner">
            <table class="sizes-table">
              <caption>Таблица размеров</caption>
              <tbody>
                <tr>
                  <td>35</td>
                  <td>36</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>38</td>
                  <td>39</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>41</td>
                  <td>42</td>
                  <td>43</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button class="btn btn-reset btn--secondary">Применить</button>
        <button class="btn-reset catalog__reset">сбросить</button>
      </div>
      <div class="catalog__grid">
        <ul class="catalog-list list-reset grid">
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/product-image.jpg" alt="Продукт 1">
                <div class="product__btns">
                  <button class="btn-reset product__btn" aria-label="Показать информацию о товаре">
                    <svg>
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="btn-reset product__btn" aria-label="Добавить товар в корзину">
                    <svg>
                      <use xlink:href="img/sprite.svg#cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
