<section class="instagram">
  <h2 class="visually-hidden">Форма и инстаграм-лента</h2>
  <div class="container instagram__container">
    <div class="instagram__left">
      <form action="#" class="callback-form">
        <h3 class="title instagram__title">Есть вопросы?</h3>
        <p class="instagram__descr">Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами</p>
        <input type="text" class="input instagram__input" placeholder="Ваше имя">
        <input type="tel" class="input instagram__input" placeholder="Номер телефона">
        <button class="btn btn--primary btn-reset instagram__btn">Отправить</button>
      </form>
    </div>
    <div class="instagram__right">
      <a href="#" class="instagram__link">
        <img src="img/instagram.png" alt="Лого инстаграма">
      </a>
      <div class="instagram__content"></div>
    </div>
  </div>
</section>
