<div class="modal">
  <div class="modal__container prod-modal" role="dialog" aria-modal="true" data-graph-target="prod-modal">
    <button class="btn-reset modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="modal-content">
      <div class="prod-modal__top">
        <div class="modal-slider">
          <div class="modal-slider__container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="modal-preview">
            <div class="modal-preview__item" data-index="0">
              <img src="img/product-image.jpg" alt="">
            </div>
            <div class="modal-preview__item" data-index="1">
              <img src="img/product-image.jpg" alt="">
            </div>
            <div class="modal-preview__item" data-index="2">
              <img src="img/product-image.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="modal-info">
          <div class="modal-info__top">
            <span class="modal-info__vendor">Артикул: 879876</span>
            <span class="modal-info__quantity">В наличии: <span>13 шт</span></span>
          </div>
          <div class="modal-info__wrapper">
            <h3 class="modal-info__title">Женские кроссовки Puma Force 1 Shadow</h3>
            <div class="modal-info__rate">
              <img src="img/star.svg" alt="Рейтинг 5 из 5">
              <img src="img/star.svg" alt="">
              <img src="img/star.svg" alt="">
              <img src="img/star.svg" alt="">
              <img src="img/star.svg" alt="">
            </div>
            <div class="modal-info__sizes">
              <span class="modal-info__subtitle">Выберите размер</span>
              <ul class="list-reset modal-info__sizes-list modal-sizes">
                <li class="modal-sizes__item">
                  <button class="btn-reset modal-sizes__btn">36</button>
                </li>
                <li class="modal-sizes__item">
                  <button class="btn-reset modal-sizes__btn">36</button>
                </li>
                <li class="modal-sizes__item">
                  <button class="btn-reset modal-sizes__btn">36</button>
                </li>
                <li class="modal-sizes__item">
                  <button class="btn-reset modal-sizes__btn">36</button>
                </li>
                <li class="modal-sizes__item">
                  <button class="btn-reset modal-sizes__btn">36</button>
                </li>
              </ul>
            </div>
            <div class="modal-info__price">
              <span class="modal-info__current-price">19 789 р</span>
              <span class="modal-info__old-price">20 578 р</span>
            </div>
          </div>
          <button class="btn btn-reset btn--primary modal-info__order">Заказать</button>
          <ul class="modal-info__note modal-note list-reset">
            <li class="modal-note__item">Бесплатная доставка до двери</li>
            <li class="modal-note__item">Оплата заказа при получении</li>
            <li class="modal-note__item">Обмен в течении двух недель</li>
          </ul>
        </div>
      </div>
      <div class="prod-modal__bottom prod-bottom">
        <div class="prod-bottom__column">
          <h3 class="prod-bottom__title">Описание</h3>
          <p class="prod-bottom__descr modal-prod-descr">
            Кроссовки Nike Blazer Mid '77 Vintage Suede с винтажной подошвой возрождают стиль баскетбольных моделей Nike
            прошлого, создавая впечатление, что они хранились в шкафу долгие годы.
          </p>
        </div>
        <div class="prod-bottom__column">
          <h3 class="prod-bottom__title">Характеристики</h3>
          <div class="prod-chars">
            <p class="prod-bottom__descr prod-chars__item">Пол: Мужской</p>
            <p class="prod-bottom__descr prod-chars__item">Цвета: Разноцветный</p>
            <p class="prod-bottom__descr prod-chars__item">Состав: Кожа, текстиль, резина</p>
            <p class="prod-bottom__descr prod-chars__item">Страна: Вьетнам</p>
          </div>
        </div>
      </div>
      <div class="prod-modal__video">
        <iframe src="https://www.youtube.com/embed/HGiDY4NuTaM"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="modal__container cart-modal" role="dialog" aria-modal="true" data-graph-target="cart-modal">
    <button class="btn-reset modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="modal-content">
      <div class="cart-modal__top">
        <h2 class="cart-modal__title">Оформление заказа</h2>
        <span class="cart-modal__order-number">Заказ 345667</span>
      </div>
      <div class="cart-modal-order">
        <div class="cart-modal-order__top">
          <div class="span cart-modal-order__quantity">Товаров в заказе: <span>3 шт</span></div>
          <div class="span cart-modal-order__summ">Общая сумма заказа: <span>25 789 р</span></div>
        </div>
        <div class="cart-modal-order__content">
          <button class="btn-reset cart-modal-order__show">
            Состав заказа
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </button>
          <ul class="cart-modal-order__list list-reset">
            <li class="cart-modal-order__item">
              <article class="cart-modal-order__product cart-modal-product">
                <div class="cart-modal-product__image">
                  <img src="img/product-image.jpg" alt="">
                </div>
                <div class="cart-modal-product__content">
                  <div class="cart-modal-product__text">
                    <h3 class="cart-modal-product__title">Женские кроссовки Puma Force 1 Shadow</h3>
                    <span class="cart-modal-product__price">8 678 р</span>
                  </div>
                  <button class="btn-reset cart-modal-product__delete" aria-label="Удалить товар">
                    Удалить
                  </button>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
      <form class="cart-modal__form">
        <input type="text" class="input cart-modal__input" name="name" placeholder="Ваше имя" data-validate-field="name">
        <input type="tel" class="input cart-modal__input" name="tel" placeholder="Номер телефона" data-validate-field="phone">
        <input type="email" class="input cart-modal__input" name="email" placeholder="E-mail" data-validate-field="email">
        <button class="btn-reset btn btn--primary cart-modal__btn">Оформить заказ</button>
      </form>
    </div>
  </div>
</div>
