<section class="quiz">
  <div class="container">
    <h2 class="visually-hidden">Подбор товара - квиз</h2>
    <div class="quiz__content">
      <h3 class="title quiz__title">Мы подберем идеальную пару для вас</h3>
      <p class="quiz__descr">Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями </p>
      <form class="quiz-form" method="POST">
        <div class="quiz-questions">

        </div>
        <div class="asd">sdfsdf</div>
      </form>
    </div>
  </div>
</section>
