<section class="quiz">
  <div class="container">
    <h2 class="visually-hidden">Подбор товара - квиз</h2>
    <div class="quiz__content">
      <h3 class="title quiz__title">Мы подберем идеальную пару для вас</h3>
      <p class="quiz__descr">Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями </p>
      <form class="quiz-form" method="POST">
        <div class="quiz-questions">

        </div>
        <div class="last-question">
          <div class="last-question__form">
            <h3 class="last-question__title">Получить предложение</h3>
            <p class="last-question__descr">Получите подборку подходящих для вас моделей на почту</p>
            <input type="text" class="input last-question__input" placeholder="Ваше имя">
            <input type="email" class="input last-question__input" placeholder="E-mail">
            <button class="btn btn-reset btn--primary last-question__btn">Получить</button>
            <div class="last-question__decorate">
              <img src="img/iphone.png" alt="" aria-hidden="true">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
