html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.btn {
  border-radius: 4px;
  padding: 22px 47px;
  font: var(--middle-regular);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--primary {
    color: var(--color-white);
    background-color: var(--color-accent);

    &:hover {
      background-color: var(--color-accent-hover);
    }
  }
}

.title {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--middle-high-bold);
  color: var(--color-main);
}

@import "mixins";

.custom-checkbox {
  @include custom-checkbox;

  &__content {
    padding-left: 35px;
    font: var(--middle-book);
    color: var(--color-main);

    &::before {
      top: -3px;
      border-color: var(--color-cameo);
      border-radius: 4px;
      width: 24px;
      height: 24px;
    }

    &::after {
      top: -3px;
      width: 24px;
      height: 24px;
      background-image: url("../img/check.svg");
      background-size: 15px 12px;
    }
  }
}
