html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Intro", sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  // outline: none;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn {
  outline: none;
  border-radius: 4px;
  padding: 22px 47px;
  font: var(--middle-regular);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--primary {
    color: var(--color-white);
    background-color: var(--color-accent);

    @include desktop {
      &:hover {
        background-color: var(--color-accent-hover);
      }
    }

    &:active {
      background-color: var(--color-btn-active);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-color: var(--color-main);

    @include desktop {
      &:hover {
        background-color: var(--color-main-hover);
      }
    }

    &:active {
      background-color: var(--color-btn-active);
    }
  }

  &--thirdly {
    border: 1px solid var(--color-main);
    padding: 13px 45px;
    color: var(--color-main);
    background-color: transparent;

    @include desktop {
      &:hover {
        color: var(--color-white);
        background-color: var(--color-main);
      }
    }

    &:active {
      background-color: var(--color-btn-active);
    }
  }
}

.btn--primary.focus-visible {
  background-color: var(--color-accent-hover);
}

.btn--secondary.focus-visible {
  background-color: var(--color-main-hover);
}

.btn--thirdly.focus-visible {
  color: var(--color-white);
  background-color: var(--color-main);
}

.title {
  margin: 0;
  margin-bottom: var(--main-offset);
  font: var(--middle-high-bold);
  color: var(--color-main);
}

@import "mixins";

.custom-checkbox {
  @include custom-checkbox;

  &__content {
    padding-left: 35px;
    font: var(--middle-book);
    color: var(--color-main);

    &::before {
      top: -3px;
      border-color: var(--color-cameo);
      border-radius: 4px;
      width: 24px;
      height: 24px;
    }

    &::after {
      top: -3px;
      width: 24px;
      height: 24px;
      background-image: url("../img/check.svg");
      background-size: 15px 12px;
    }
  }

  .custom-checkbox__field:focus + .custom-checkbox__content::before {
    outline: 2px solid var(--color-accent);
  }
}

.tooltip {
  position: relative;
  margin-left: var(--small-offset);
}

.tooltip__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  background: var(--color-white);

  svg {
    width: 6px;
    height: 10px;
  }
}

.tooltip__txt {
  position: absolute;
  left: -10px;
  bottom: calc(100% + 14px);
  z-index: 3;
  border-radius: 4px;
  padding: var(--small-offset) var(--second-offset);
  width: max-content;
  max-width: 426px;
  box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  font: var(--small-book);
  text-transform: initial;
  color: var(--color-main);
  background: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip__txt::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -8px;
  border-style: solid;
  border-width: 10px 8px 0;
  border-color: var(--color-white) transparent transparent transparent;
  border-radius: 4px;
  width: 0;
  height: 0;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.input {
  border: none;
  border-radius: 4px;
  padding: 0 var(--second-offset);
  width: 100%;
  height: 60px;
  font: var(--middle-book);
  color: var(--color-main);
  background-color: var(--color-white);

  &::placeholder {
    color: var(--color-gray);
  }
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.js-validate-error-label {
  order: -1;
}
